ul {
	list-style: none;
	margin-left: -40px;
}

li {
	margin-bottom: 5px;
	padding: 5px 2px;
}

button {
	margin-left: 10px;
}

input[type="checkbox"] {
	margin-left: 10px;
}

.concluida {
	text-decoration: line-through;
}